<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../assets/digimon-1_pmse.1280.webp"
        class="d-block w-100"
        alt="digimon"
      />
      <div class="carousel-caption d-none d-md-block bg-warning rounded">
        <h3 class="text-black">Digimon</h3>
        <p class="text-black p-3">
          Es una franquicia de medios creado por Akiyoshi Hongo​ que incluye
          productos como mascotas virtuales, videojuegos, películas, animes,
          mangas, juguetes y juegos de cartas coleccionables. La saga comenzó
          en 1997 a partir de una mascota virtual conocida como Digimon
          Virtual Pet, basado en la franquicia Tamagotchi,​ Sin embargo, su
          popularidad aumentó con la emisión en 1999 de una serie de anime
          (Digimon Adventure) y el lanzamiento de un videojuego titulado
          Digimon World.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/Digimon-adventure-02-primeras-escenas.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block bg-warning rounded">
        <h3 class="text-black">La franquicia</h3>
        <p class="text-black p-3">
          La saga Digimon ocupó, en una encuesta realizada en la TV Asahi en
          2006, el puesto número 54 de entre los 100 mejores animes de la
          historia. Modelo de Virtual pet distribuido en el mercado japonés
          por Bandai,​ que permitió la popularización de Digimon en Japón y
          vendió 50 mil unidades en todo el mundo hasta marzo de 2004. El
          argumento de la saga está basado en un mundo paralelo conocido como
          Mundo Digital, que está habitado por unas criaturas ficticias
          llamadas Digimon.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/maxresdefault.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block bg-warning rounded">
        <h3 class="text-black">¿Qué es Digimon?</h3>
        <p class="text-black p-3">
          Son formas de vida artificial creadas a partir de bits y piezas
          perdidas de datos de ordenadores, que habitan dentro de los aparatos
          electrónicos que posean memorias no volátiles. Los Digimon son
          criados por humanos llamados "Tamers" (niños elegidos en Digimon
          Adventure y en su secuela Digimon 02) para combatir a los villanos
          que amenazan con destruir el equilibrio del Mundo Digital.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previo</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>